.package {
  position: fixed;
  top: 0;
  width: 900px;
  height: 80px;
  outline: 1px solid black;
}

.package_item {
  width: 80px;
  height: 80px;

  &.not_last {
    border-right: 1px solid black;
  }
}
