.package {
  position: fixed;
  top: 0;
  width: 900px;
  height: 80px;
}

.package_item {
  width: 80px;
  height: 80px;

  &.not_last {
    border-right: 1px solid black;
  }
}

.seeds_area {
  width: 600px;
  outline: 1px solid black;
  overflow-x: auto;
}

.hoe {
  width: 80px;
  height: 80px;
  outline: 1px solid black;
  background-image: url("../../assets/hoe.png");
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.no_select {
  width: 80px;
  height: 80px;
  outline: 1px solid black;
}
