.soil {
  width: 800px;
  height: 200px;
  display: grid;
  outline: 1px solid black;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(2, 100px);
}

.solid_block {
  width: 100px;
  height: 100px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  &:nth-child(8n) {
    border-right: none;
  }

  &:nth-child(n + 9) {
    border-bottom: none;
  }
}

.un_developed {
  background-color: rgb(146, 146, 146);
}
